:local(.mainRowStyling) {
	margin: 0px;
	padding: 0px;
}

:local(.mainBody) {
	background-color: white;
}

:local(.MenuSelectionRow) {
	/* width: 100%; */
}

:local(.MenuSelectionButton) {
	border-bottom: 1px solid black;
	text-align: center;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}

:local(.MenuSelectionButton:hover) {
	border-bottom: 1px solid black;
	text-align: center;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	background-color: #eee;
}

:local(.MenuSelectionButtonActive) {
	color: white;
	background-color: #333;
}

:local(.MenuSelectionButtonActive:hover) {
	color: white;
	background-color: #444;
}

:local(.quationText) {
	margin-top: 90px;
	text-align: center;
	color:#ccc;
	font-weight: bold;
	font-style: italic;
}
